original/kae.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" vc:minVersion="1.1">
    <xs:element name='root'>
        <xs:complexType mixed="true">
            <xs:sequence>
                <xs:any minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name='rand'>
        <xs:complexType mixed="true">
            <xs:sequence>
                <xs:any minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name='kursiv'>
        <xs:complexType mixed="true">
            <xs:sequence>
                <xs:any minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name='i'>
        <xs:complexType mixed="true">
            <xs:sequence>
                <xs:any minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name='u'>
        <xs:complexType mixed="true">
            <xs:sequence>
                <xs:any minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="pb">
        <xs:complexType>
            <xs:attribute name="n" type="xs:int" use="required" />
            <xs:attribute name="facs" type="xs:string" use="required" />
        </xs:complexType>
    </xs:element>

    <xs:element name="lb">
        <xs:complexType>
            <xs:attribute name="n" type="xs:int" use="required" />
            <xs:attribute name="x" type="xs:int" use="required" />
            <xs:attribute name="y" type="xs:int" use="required" />
            <xs:attribute name="w" type="xs:int" use="required" />
            <xs:attribute name="h" type="xs:int" use="required" />
        </xs:complexType>
    </xs:element>

    <xs:element name="footnote">
        <xs:complexType mixed="true">
            <xs:sequence>
                <xs:any minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="text" type="xs:string" use="required"/>
            <xs:attribute name="source" type="xs:string" use="optional"/>
            <xs:attribute name="link" type="xs:string" use="optional"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="titel">
        <xs:complexType mixed="true">
            <xs:sequence>
                <xs:any minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="randtitel">
        <xs:complexType mixed="true">
            <xs:sequence>
                <xs:any minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="marginalie">
        <xs:complexType mixed="true">
            <xs:sequence>
                <xs:any minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="pag">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="value" type="xs:string" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="paginierung">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="value" type="xs:string" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="bleistiftpaginierung">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="value" type="xs:string" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="abbreviation">
        <xs:complexType mixed="true">
            <xs:sequence>
                <xs:any minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="type" type="xs:string" use="optional"/>
            <xs:attribute name="text" type="xs:string" use="optional"/>
            <xs:attribute name="value" type="xs:string" use="optional"/>
        </xs:complexType>
    </xs:element>


    <xs:element name="rs">
        <xs:complexType mixed="true">
            <xs:sequence>
                <xs:any minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="type" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="person"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="key" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="subject">
        <xs:complexType mixed="true">
            <xs:sequence>
                <xs:any minOccurs="0" maxOccurs="unbounded"></xs:any>
            </xs:sequence>
            <xs:attribute name="type" type="xs:string" use="required"/>
            <xs:attribute name="description" type="xs:string" use="optional"/>
            <xs:attribute name="loc" type="xs:string" use="optional"/>
            <xs:attribute name="date_when" type="xs:string" use="optional"/>
            <xs:attribute name="date_from" type="xs:string" use="optional"/>
            <xs:attribute name="date_to" type="xs:string" use="optional"/>
            <xs:attribute name="date_approx_when" type="xs:string" use="optional"/>
            <xs:attribute name="date_approx_from" type="xs:string" use="optional"/>
            <xs:attribute name="date_approx_to" type="xs:string" use="optional"/>
            <xs:attribute name="approx_when" type="xs:string" use="optional"/>
            <xs:attribute name="approx_from" type="xs:string" use="optional"/>
            <xs:attribute name="approx_to" type="xs:string" use="optional"/>
            <xs:attribute name="observation" type="xs:string" use="optional"/>
            <xs:attribute name="location" type="xs:string" use="optional"/>
            <xs:attribute name="quality" type="xs:int" use="optional"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="foreign">
        <xs:complexType mixed="true">
            <xs:sequence>
                <xs:any minOccurs="0" maxOccurs="unbounded"></xs:any>
            </xs:sequence>
            <xs:attribute name="lang" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="lat|grie|it|fra, lat"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="trans_lang" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="de|lat"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="trans" type="xs:string" use="required"/>
            <xs:attribute name="source" type="xs:string" use="optional"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="date">
        <xs:complexType mixed="true">
            <xs:sequence>
                <xs:any minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="when" type="xs:string" use="optional"/>
            <xs:attribute name="from" type="xs:string" use="optional"/>
            <xs:attribute name="to" type="xs:string" use="optional"/>
            <xs:attribute name="approx_when" type="xs:string" use="optional"/>
            <xs:attribute name="approx_from" type="xs:string" use="optional"/>
            <xs:attribute name="approx_to" type="xs:string" use="optional"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="interpunktionseingriff">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="type" type="xs:string" use="optional"/>
                    <xs:attribute name="comment" type="xs:string" use="optional"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="texteingriff">
        <xs:complexType mixed="true">
            <xs:sequence>
                <xs:any minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="type" type="xs:string" use="optional"/>
            <xs:attribute name="comment" type="xs:string" use="optional"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="del">
        <xs:complexType mixed="true">
            <xs:sequence>
                <xs:any minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="textkriApp" type="xs:string" use="optional"/>
            <xs:attribute name="type" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name='correction'>
        <xs:complexType mixed="true">
            <xs:sequence>
                <xs:any minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="type" type="xs:string" use="required"/>
            <xs:attribute name="textkriApp" type="xs:string" use="optional"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="lesung">
        <xs:complexType mixed="true">
            <xs:sequence>
                <xs:any minOccurs="0" maxOccurs="unbounded"></xs:any>
            </xs:sequence>
            <xs:attribute name="text" type="xs:string" use="optional"/>
            <xs:attribute name="textkriApp" type="xs:string" use="optional"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="glossar">
        <xs:complexType mixed="true">
            <xs:sequence>
                <xs:any minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="source" type="xs:string" use="required"/>
            <xs:attribute name="link" type="xs:string" use="optional"/>
            <xs:attribute name="text" type="xs:string" use="optional"/>
			
            <xs:attribute name="definition" type="xs:string" use="optional"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="gap">
        <xs:complexType>
            <xs:attribute name="type" type="xs:string" use="optional"/>
            <xs:attribute name="textkriApp" type="xs:string" use="optional"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="todo">
        <xs:complexType mixed="true">
            <xs:sequence>
                <xs:any minOccurs="0" maxOccurs="unbounded"></xs:any>
            </xs:sequence>
            <xs:attribute name="comment" type="xs:string" use="required"/>
            <xs:attribute name="type" type="xs:string" use="optional"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="location">
        <xs:complexType mixed="true">
            <xs:sequence>
                <xs:any minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="code" type="xs:string"  use="required"/>
            <xs:attribute name="link" type="xs:string" use="optional"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="table">
        <xs:complexType>
            <xs:all>
                <xs:element ref="tr" maxOccurs="unbounded"/>
                <xs:element ref="lb" minOccurs="0" maxOccurs="unbounded"/>
            </xs:all>
        </xs:complexType>
    </xs:element>
    <xs:element name="tr">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="td" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="td">
        <xs:complexType mixed="true">
            <xs:sequence>
                <xs:any minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="rowspan" type="xs:int" use="optional"/>
            <xs:attribute name="colspan" type="xs:int" use="optional"/>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="list">
        <xs:complexType>
            <xs:all>
                <xs:element ref="head" maxOccurs="unbounded"/>
                <xs:element ref="label" maxOccurs="unbounded"/>
                <xs:element ref="item" maxOccurs="unbounded"/>
                <xs:element ref="lb" minOccurs="0" maxOccurs="unbounded"/>
            </xs:all>
        </xs:complexType>
    </xs:element>
    <xs:element name="head">
        <xs:complexType mixed="true">
            <xs:sequence>
               <xs:any minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>    
        </xs:complexType>
    </xs:element>
    <xs:element name="label">
        <xs:complexType mixed="true"> 
           <xs:sequence>
               <xs:any minOccurs="0" maxOccurs="unbounded"/>
           </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="item">
        <xs:complexType mixed="true">
            <xs:sequence>
                <xs:any minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="locations" type="xs:string"/>
</xs:schema>
